body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

.coordinate {
    position: absolute;
    bottom: 10px;
    right: 50%;
}

.leaflet-popup-content-wrapper {
    background-color: #000000;
    color: #fff;
    border: 1px solid red;
    border-radius: 0px;
}

nav {
    background-color: #00eeff;
    overflow: hidden;
}
nav a {
    float: right;
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 20px 18px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
}
nav a:hover {
    background-color: #ffffff;
    color: #00eeff;
}
form {
	color: white;
	padding: 10px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav form {
	display: flex;
	align-items: center;
    padding: 10px 0px;
	margin: 0 auto;
}

nav input[type="text"] {
	padding: 15px;
	border: none;
	border-radius: 10px 0 0 10px;
}

nav button[type="submit"] {
	background-color: #000000;
	color: white;
	border: none;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
	padding: 15px;
}
nav img {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    padding: 0px 0px;
    vertical-align: center;
  }